{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1>{% translate "Delete User" %}</h1>
    <p>{% translate "Are you sure you want to delete" %} {{ user.first_name }} {{ user.last_name }}?</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">{% translate "Yes, delete" %}</button>
        <a href="{% url 'users' %}" class="btn btn-secondary">{% translate "Cancel" %}</a>
    </form>
</div>
{% endblock %}