{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <header class="p-3 bg-light text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 text-primary">{% translate "Task manager" %}</a></li>
                <li><a href="#" class="nav-link px-2 text-black">{% translate "Users" %}</a></li>
                </ul>

                <div class="text-end">
                <button type="button" class="btn btn-outline-dark me-2">{% translate "Login" %}</button>
                <button type="button" class="btn btn-warning"><a href="{% url 'signup' %}" class="btn btn-warning">{% translate "Sign-up" %}</a></button>
                </div>
            </div>
        </div>
    </header>
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">{% translate "Sign-up" %}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group mb-3">
                <label class="form-label d-block" for="id_first_name">{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>
            <div class="form-group mb-3">
                <label class="form-label d-block" for="id_last_name">{{ form.last_name.label }}</label>
                {{ form.last_name }}
            </div>
            <div class="form-group mb-3">
                <label class="form-label d-block" for="id_username">{{ form.username.label }}</label>
                {{ form.username }}
            </div>
            <div class="form-group mb-3">
                <label class="form-label d-block" class="form-label" for="id_password1">{{ form.password1.label }}</label>
                {{ form.password1 }}
                <div class="form-text">
                    <ul>
                        <li>Ваш пароль должен содержать как минимум 3 символа.</li>
                    </ul>
                </div>
            </div>
            <div class="form-group mb-3">
                <label class="form-label d-block    " for="id_password2">{{ form.password2.label }}</label>
                {{ form.password2 }}
                <div class="form-text">Для подтверждения введите, пожалуйста, пароль ещё раз.</div>
            </div>
            <button type="submit" class="btn btn-primary">{% translate "Sign-up" %}</button>
        </form>
    </div>
{% endblock %}