{% extends 'base.html' %}
{% load i18n django_bootstrap5 %}

{% block content %}
<div class="container">
    <h1>{% translate "Tasks" %}</h1>
    <a href="{% url 'task_create' %}" class="btn btn-primary">{% trans "Create task" %}</a>
    <div class="card mb-3 mt-3">
        <div class="card-body bg-light">
            <form method="get">
                {% for field in filter.form %}
                    <div class="form-group">
                        {% if field.name == "filter_own_tasks" %}
                        <label for="{{ field.id_for_label }}">
                            {{ field }} <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                        </label>
                        {% else %}
                            {{ field.label }}
                            {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">{% translate "Show" %}</button>
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Status" %}</th>
                <th>{% translate "Author" %}</th>
                <th>{% translate "Executor" %}</th>
                <th>{% translate "Created at" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.creator.first_name }} {{ task.creator.last_name }}</td>
                <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">{% translate "Edit" %}</a>
                    <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">{% translate "Delete" %}</a>
                </td>
            </tr>   
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}