{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1>{% translate "Tasks" %}</h1>
    <a href="{% url 'task_create' %}" class="btn btn-primary">{% trans "Create task" %}</a>
    <div class="card mb-3 mt-3">
        <div class="card-body bg-light">
            <form class="form-inline center" method="get">
                <div class="mb-3">
                    <label class="form-label" for="id_status">Статус</label>
                    <select name="status" class="form-select ml-2 mr-3" id="id_status">
                        <option value="">---------</option>
                        {% for status in statuses %}
                            <option value="{{ status.id }}" {% if request.GET.status == status.id|stringformat:"s" %}selected{% endif %}>{{ status.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id_executor">Исполнитель</label>
                    <select name="executor" class="form-select mr-3 ml-2" id="id_executor">
                        <option value="">---------</option>
                        {% for executor in executors %}
                            <option value="{{ executor.id }}" {% if request.GET.executor == executor.id|stringformat:"s" %}selected{% endif %}>{{ executor.get_full_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="id_label">Метка</label>
                    <select name="label" class="form-select mr-3 ml-2" id="id_label">
                        <option value="">---------</option>
                        {% for label in labels %}
                            <option value="{{ label.id }}" {% if request.GET.label == label.id|stringformat:"s" %}selected{% endif %}>{{ label.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input type="checkbox" name="self_tasks" class="form-check-input mr-3" id="id_self_tasks" {% if request.GET.self_tasks %}checked{% endif %}>
                        <label class="form-check-label" for="id_self_tasks">Только свои задачи</label>
                    </div>
                </div>
                <input class="btn btn-primary" type="submit" value="Показать">
            </form>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate "Name" %}</th>
                <th>{% translate "Status" %}</th>
                <th>{% translate "Author" %}</th>
                <th>{% translate "Executor" %}</th>
                <th>{% translate "Created at" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td><a href="{% url 'task_detail' task.pk %}">{{ task.name }}</a></td>
                <td>{{ task.status }}</td>
                <td>{{ task.creator.first_name }} {{ task.creator.last_name }}</td>
                <td>{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
                <td>{{ task.created_at }}</td>
                <td>
                    <a href="{% url 'task_update' task.pk %}" class="btn btn-primary">{% translate "Edit" %}</a>
                    <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger">{% translate "Delete" %}</a>
                </td>
            </tr>   
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}