{% extends 'base.html' %}
{% load i18n django_bootstrap5%}

{% block content %}
<div class="container mt-3">
    <h2>{% if form.instance.pk %}{% trans "Edit Task" %}{% else %}{% trans "Create Task" %}{% endif %}</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form form layout='vertical' %}

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">
                {% if form.instance.pk %}
                    {% trans "Update" %}
                {% else %}
                    {% trans "Create" %}
                {% endif %}
            </button>
            <a href="{% url 'tasks_list' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
        </div>
    </form>
</div>
{% endblock %}